<%= form_for @post, html: { multipart: true } do |f| %>
 
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:
      </h3>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <p class="upload_image">
  <%= f.label :image %>
  <%= f.file_field :image, :style => "margin: 0 auto" %>
  </p>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, :size => "50x1" %>
  </p>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#summernote').summernote({
        height: 300,
        toolbar: [
          ['style', ['bold', 'italic', 'underline']],
          ['fontsize', ['fontsize']],
          ['para', ['ul', 'ol']],
          ['misc', ['codeview']],
        ]
      });
    });
  </script>
 
  <p><%= f.text_area :text, id: "summernote" %></p>

  <p>
    <%= f.submit %>
  </p>
 
<% end %>