<main role="main">
  <%= image_tag("vinna_banner.jpg", :alt => "vinna logo banner", :class => "banner") %>
</main>

<div class="bs-docs-featurette">
  <div class="container">
  <h1 class="bs-docs-featurette-title", style="font-family: 'Marck Script', cursive;">Welcome to Vinna!</h1>
  <h2 class="header_font">We create merit badges to commemorate your awesome adventures in parenting.</h2>
    <p class="header_font">Perfect for ironing on diaper bags or baby carriers, these patches are a great way to mark your milestones.</p>

    <hr>

    <div style="width: 100%; display:inline-block; text-overflow: clip;" class="header_font">

      <div id="about" class="col-sm-4">
        <a href="/about"><%= image_tag("Santos.jpg", :alt => "The Santos Family", :class => "img-responsive img-centered sm-photos") %></a>
        <h3 class="center"><a href="/about">About Us</a></h3>
        <p class="center">The word "vinna" means "win." It also means "work."<br>We believe parenthood is winning work! Read more about our philosophy <a href="/about">here</a>.</p>
      </div>

      <div id="shop" class="col-sm-4">
        <a href="https://www.etsy.com/shop/VinnaLife" target="_blank"><%= image_tag("flight.jpg", :alt => "etsy logo", :class => "img-responsive img-centered sm-photos") %></a>
        <h3 class="center"><a href="https://www.etsy.com/shop/VinnaLife" target="_blank">Shop</a></h3>
        <p class="center">Visit our <a href="https://www.etsy.com/shop/VinnaLife" target="_blank">Etsy shop</a> for individual merit badges and value packs!</p>
      </div>
  </div>
</div>
<hr>
<!-- THIS IS THE BLOG POST SECTION -->

<%= render 'blog' %>

<main>
  <%= image_tag("badges_banner.jpg", :alt => "photos of merit badges", :class => "banner img-responsive") %>
</main>

<!-- THIS IS THE PLACE TO POST EXTERNAL ARTICLES, PRESS, ETC -->

<%= render 'article'%>