<main id="content" role="main" style="background-color: purple;">
	<%= image_tag("vinna_banner.jpg", :alt => "vinna logo banner", :class => "banner") %>
</main>

<div class="bs-docs-featurette">
  <div class="container">
  <h1 class="bs-docs-featurette-title">Welcome to Vinna!</h1>
  <h2>We create merit badges to commemorate your awesome adventures in parenting.</h2>
    <p>Perfect for ironing on diaper bags or baby carriers, these patches are a great way to mark your milestones.</p>

    <hr>

    <div style="width: 100%; display:inline-block; text-overflow: clip;">

      <div id="about" class="col-sm-4">
        <a href="/about"><%= image_tag("Santos.jpg", :alt => "The Santos Family", :class => "img-responsive img-centered sm-photos") %></a>
        <h3><a href="/about">About Us</a></h3>
        <p>The word "vinna" means "win." It also means "work." We believe parenthood is winning work! Read more about our philosophy <a href="/about">here</a>.</p>
      </div>

      <div id="shop" class="col-sm-4">
        <a href="https://www.etsy.com/shop/VinnaShop" target="_blank"><%= image_tag("flight.jpg", :alt => "etsy logo", :class => "img-responsive img-centered sm-photos") %></a>
        <h3><a href="https://www.etsy.com/shop/VinnaShop" target="_blank">Shop</a></h3>
        <p>Visit our <a href="https://www.etsy.com/shop/VinnaShop" target="_blank">Etsy shop</a> for individual merit badges and value packs!</p>
      </div>
  </div>
</div>


<!-- THIS IS THE BLOG POST SECTION -->

<%= render 'blog' %>

<!-- THIS IS THE PLACE TO POST EXTERNAL ARTICLES, PRESS, ETC -->

<%= render 'article'%>
