<div class="Purple blog_show header_font">
	<div class="bs-docs-featurette">

 <p class="blog-photo_large"><%=image_tag @post.image %></p>
	
	<% if !current_user.nil? %>
		<% if current_user.admin? %>
			<%= link_to 'Edit Post', edit_post_path(@post) %> | <%= link_to 'Delete Post', post_path(@post),
    			              method: :delete,
    			              data: { confirm: 'Are you suuuuuuuure?' } %>
    	<% end %>
    <% end %>
    
		<h1><%= @post.title %></h1>

		<p><%= @post.text.html_safe %></p>
		<hr>
		<div class="comments_list">
			<h2>Comments: </h2>
			<ul>
				<% @post.comments.each do |comment| %>
					<li><em><strong><%= comment.author_name %></strong></em> says: 
					"<%= comment.body.html_safe %>"
					<% if !current_user.nil? %>
						<% if current_user.admin? %>
							<%= link_to "Delete this comment", [comment.post, comment], 
							method: :delete,
							data: { confirm: "Are you sure?" } %>
						<% end %>
					<% end %>

					</li>
				<% end %>
			</ul>
		</div>
	<% if !current_user.nil? %>
		<div class="comments_add">
			<% if current_user.general?  %>
				<h2>Add your comment:</h2>
					<%= form_for([@post, @post.comments.build]) do |f| %>
					
					<script type="text/javascript">
					  $(document).ready(function() {
					    $('#summernote').summernote({
					      height: 300,
					      toolbar: [
					        ['style', ['bold', 'italic', 'underline']],
					        ['para', ['ul', 'ol']],
					      ]
					    });
					  });
					</script>
					
					<p><%= f.text_area :body, id: "summernote" %></p>
					
					<p><%= f.label :author_name %><br>
					<%= f.text_field :author_name, :value => "#{current_user.email}" %></p>
	 
						<%= f.submit "Post comment" %>
				<% end %>
			<% end %>
		</div>

		<% if current_user.admin? %>
			<h2>Add your comment:</h2>
				<%= form_for([@post, @post.comments.build]) do |f| %>

				<script type="text/javascript">
				  $(document).ready(function() {
				    $('#summernote').summernote({
				      height: 300,
				      toolbar: [
				        ['style', ['bold', 'italic', 'underline']],
				        ['para', ['ul', 'ol']],
				      ]
				    });
				  });
				</script>
					
					<p><%= f.text_area :body, id: "summernote" %></p>
		
					<p><%= f.label :author_name %><br>
					<%= f.text_field :author_name, :value => "#{current_user.email}" %></p>

					<%= f.submit "Post comment" %>
				<% end %>
  	<% end %>
  <% end %>
  </div>
</div>