<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content-"Vinna, merit badges for parents">
  <meta name="keywords" content="parent, mom, dad, kids, mama, baby, merit badge, girl scouts, scout badge, etsy">
  <meta name="author" content="Website created by Erin Joan Snyder. Vinna badges created by Anna Rudman Santos.">

  <title>Vinna: work + win</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]><script src="../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../assets/js/ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link rel="icon" href="images/book.jpg">
</head>
<body>

<!-- Top Nav Bar -->
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="../" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse"> <!-- TO DO: Only display one of these depending on the user role! -->
      <ul class="nav navbar-nav">
      <!-- <%# if user_signed_in? %>
        <li class="like_link">Welcome <%#= current_user.username %></li>
        <li><%#= link_to 'Settings', edit_user_registration_path %></li>
        <li><%#= link_to 'Log Out', destroy_user_session_path, :method => :delete %></li>
      <%# else %>
        <li><%#= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%#= link_to 'Log In', new_user_session_path %></li>
      <%# end %>  -->

      <% if admin_signed_in? %>
        <li><%= link_to current_admin.username, edit_admin_registration_path %></li>
        <li><%= link_to 'Log Out', destroy_admin_session_path, :method => :delete %></li>
      <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="mailto:vinnabadges@gmail.com?Subject=Vinna%20website" target="blank">Contact Us</a></li>
        <li><a href="https://www.facebook.com/VinnaLife" target="blank">Facebook</a></li>
        <li><a href="https://twitter.com/vinnalife" target="blank">Twitter</a></li>
        <li><a href="http://instagram.com/vinnalife" target="blank">Instagram</a></li>
      </ul>
    </nav>
  </div>
</header>

<%= yield %>

<!-- Footer -->
<div class="White">
  <footer class="bs-docs-footer" role="contentinfo">
    <p>Copyright 2014 - 2015</p>
  </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>
